html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ini style */

body {
	background-color: #333;
}

.container {
	background-color: white;
	width: 800px;
	margin: auto;
}

.header h1 {
	font-size: 40px;
	font-weight: bold;
	padding: 15px;
	font-family: verdana;
}

.header li {
	display: inline-block;
}

a:link {
	color: crimson;
}

a:visited {
	color: crimson;
}

a:active {
	color: crimson;
}

.header ul li a:hover {
	color: white;
	background-color: crimson;
	border-radius: 6px;
	transition: 0.3s;
}

.li-navbar a {
	text-decoration: none;
	padding: 15px;
}

.li-navbar {
	padding: 10px;
	margin: 5px;
	margin-left: 20px;
	margin-top: 0px;
	margin-bottom: 15px;
}

.banner {
	height: 250px;
	border-top: 5px solid crimson;
	background-image: url(rimuru.png);
	background-position: 0 0;
	border-bottom: 5px solid crimson;
}

.content {
	padding: 20px;
}
.content h2 {
	font-size: 28px;
	font-weight: bold;

}

.content .author {
	font-size: 14px;
}

.content p {
	margin-bottom: 20px;
	font-family: arial;
	font-size: 16px;
}

.footer {
	background-color: black;
	padding: 14px;
}

.footer .copyright {
	color: white;
	text-align: center;
	font-size: 14px;
	font-family: arial;
}